.banner__block
  .containe-fluid
    .banner__slideshow
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap1.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap2.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap3.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap4.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap1.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap2.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap3.png")          
      +banner("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/banner-cap4.png")          
      
                       



