.booking__block
  .container
    .section-heading.text-center.white
      h2 Book An Apointment
      .line.m-0.m-auto
    .row  
      .col-12
        .booking__form
          form(action="#" method="post")
            .row
              .col-md-6
                .form-group.mb-30
                  input(type="text" name="your-name" class="form-control" placeholder="Your Name" required)
              .col-md-6
                .form-group.mb-30
                  input(type="text" name="your-phone" class="form-control" placeholder="Your Phone" required)  
              .col-md-6
                .form-group.mb-30
                  input(type="email" name="your-email" class="form-control" placeholder="Your Email" required)
              .col-md-6
                .form-group.mb-30
                  input(type="text" name="your-phone" class="form-control" placeholder="Your Address")
              .col-md-6
                .form-group.mb-30
                  select.form-control(name='your-scheldule')
                    option(value='Choose Your Scheldule') Choose Your Scheldule
                    option(value='9 AM to 10 AM') 9 AM to 10 AM
                    option(value='11 AM to 12 PM') 11 AM to 12 PM
                    option(value='2 PM to 4 PM') 2 PM to 4 PM
                    option(value='8 PM to 10 PM') 8 PM to 10 PM
              .col-md-6
                .form-group.mb-30
                  select.form-control(name='your-scheldule')
                    option(value='Choose Your Scheldule') Choose Your Scheldule
                    option(value='9 AM to 10 AM') 9 AM to 10 AM
                    option(value='11 AM to 12 PM') 11 AM to 12 PM
                    option(value='2 PM to 4 PM') 2 PM to 4 PM
                    option(value='8 PM to 10 PM') 8 PM to 10 PM
              .col-12
                .form-group.mb-30          
                  textarea(name='your-message' class='form-control' placeholder='Your Message')  
              .col-12.text-center
                .btn Booking Now
