.footer__footer
  .container
    .footer__content
      .row
        .col-12.col-sm-6.col-lg-4
          .footer__widget
            a.d-block.mb-4(href="index.pug")
              img(src="https://preview.colorlib.com/theme/dento/img/core-img/logo.png")
            p.footer__brand-text
              | Etiam sutor risus, dapibus act elefend katen,
              | lacinia sitamet denim. Mauris sagittis kansa
              | interdum dignissim.
            .footer__address
              p
                i.fa.fa-location-arrow  
                |  28 Jackson Street, Chicago, 7788569 USA
              p
                i.fa.fa-phone  
                | +84. 2252. 2250. 122
              p
                i.fa.fa-envelope  
                | info.dento@gmail.com
        .col-12.col-sm-6.col-lg
          .footer__widget
            h4 Opening Hours
            ul.footer__hours
              li
                span Mon-Wed
                span 8.00-18.00
              li
                span Thu-Fri
                span 8.00-17.00
              li
                span Sat
                span 9.00-17.00
              li
                span Sun
                span 10.00-17.00
              li
                span Holiday
                span Closed
        .col-12.col-sm-6.col-lg
          .footer__widget
            h4 Quick Links
            ul.footer__quick-links
              li
                a(href='#') About
              li  
                a(href='#') FAQS
              li
                a(href='#') Contact
              li  
                a(href='#') Policy
              li
                a(href='#') News
              li
                a(href='#') Advisors
              li
                a(href='#') Careers
              li
                a(href='#') Dentist
              li
                a(href='#') Services
              li
                a(href='#') Legal
        .col-12.col-sm-6.col-lg
          .footer__widget
            h4 Newsletter
            p We will send out weekly newest article and some great offers
            .footer__newsletter-form
              .form-group
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter Address')
                button(type='submit')
                  i.fa.fa-paper-plane
            .footer__social-links
              a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook')
                i.fab.fa-facebook-f
              a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter')
                i.fab.fa-twitter
              a(href='#' data-toggle='tooltip' data-placement='top' title='Google Plus')
                i.fab.fa-google-plus
              a(href='#' data-toggle='tooltip' data-placement='top' title='Linkedin')
                i.fab.fa-linkedin
              a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest')
                i.fab.fa-pinterest  
  .footer__copyright
    .container
      .footer__copyright-content
        .row
          .col-12
            p.copyright__text.text-center
              | Copyright &copy;
              | 2020 All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib

