.footer__footer
  .container-fluid
    .footer__content
      .row
        .col-12
          .logo.text-center.mb-30.d-none.d-lg-block
            a(href="#")
              img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/logo/logo.png", alt="")
        .col-12
          .footer__nav
           +navigation-block
  .footer__copyright
    .container
      .footer__copyright-content
        .row
          .col-12
            p.copyright__text.text-center
              | Copyright &copy;
              | 2020 All rights reserved | This template is made with 
              i.fas.fa-heart(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib

