.dento__header-top
  .container.h-100
    .row.align-items-center.h-100
      .col-6.col-md-9.col-lg-8
        .dento__top-content
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='28 Jackson Street, Chicago, 7788569 USA')
            i.fa.fa-location-arrow
            span 28 Jackson Street, Chicago, 7788569 USA
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='info.dento@gmail.com')
            i.fa.fa-envelope
            span info.dento@gmail.com	
      .col-6.col-md-3.col-lg-4
        .dento__top-social-info.text-right
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='Facebook')
            i.fab.fa-facebook-f
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='Twitter')
            i.fab.fa-twitter
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='Google Plus')
            i.fab.fa-google-plus
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='Linkedin')
            i.fab.fa-linkedin
          a(href="#" data-toggle='tooltip' data-placement='bottom' title='Pinterest')
            i.fab.fa-pinterest