.lpost__block
  .container
    .section-heading.text-center
      h2 Lastest Posts
    .row
      .col-lg-6
        .lpost__slideshow
          +lpost('Calling time on irresponsible junk food advertising to children')        
          +lpost('Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, voluptate?')        
          +lpost('Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eaque.')     
      .col-lg-6
        .row
          .col-md-6
            .lpost__banner-img.magazine-img.mb-30
              .lpost__img.scale-img
                img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/latest-post2.png" alt="")
          .col-md-6      
            .lpost__text
              p Trending
              a(href="#") The pomelo case: scope of plant variety rights in China
              p.normal Passion for their subjects from the subtleties of regional Thai home cooking to the intersection of food and queer culture.
          .col-md-6
            .lpost__text
              p Technology
              a(href="#") Valuable lessons to take away from COVID-19
              p.normal Passion for their subjects from the subtleties of regional Thai home cooking to the intersection of food and queer culture.
          .col-md-6
            .lpost__banner-img.magazine-img.mb-30
              .lpost__img.scale-img
                img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/latest-post02.png" alt="")            
      .col-lg-6
        .lpost__single.text-center.mb-30
          .lpost__banner-img.magazine-img
            .lpost__img.scale-img
              img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/latest-post3.png" alt="")
          .lpost__text.lpost__banner-txt
            p Technology
            a(href="#") Calling time on irresponsible junk food advertising to children
      .col-lg-6  
        .lpost__single.text-center.mb-30
          .lpost__banner-img.magazine-img
            .lpost__img.scale-img
              img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/latest-post4.png" alt="")
          .lpost__text.lpost__banner-txt
            p Design
            a(href="#") Researchers control cattle microbiome to reduce greenhouse gases