.post__block
  .container
    .section-heading.text-center
      h2 Lastest Posts 
    .row
      .col-12.col-md-6.col-lg-4 
        +post("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/trend1.png")()
      .col-12.col-md-6.col-lg-4  
        +post("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/trend2.png")()
      .col-12.col-md-6.col-lg-4  
        +post("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/trend3.png")()