.slider__block
  .container
    .row
      .col-12
        .slider__slideshow
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider1.png")  
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider2.png")
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider3.png")
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider4.png")
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider1.png")  
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider2.png")
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider3.png")
          +slider("https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/news-slider4.png")
        .arrow-wrapper
          button.slider__arrow.slider__prev  
            i.fas.fa-chevron-left
          button.slider__arrow.slider__next  
            i.fas.fa-chevron-right
              