.subscribe__block
  .container
    .row.align-items-center.justify-content-between
      .col-xl-6.col-md-10
        .subscribe__text
          h2 Subscribe for lastest updates
          p Indie folks start out by making something they want to read, that tell stories they want told..
      .col-xl-5.col-md-12
        .subscribe__form
          form.subscribe-box(action="#")  
            .form-group
              input.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter Your Email')      
            .subscribe-form
              a(href="#") Subscribe


