.tpost__block
  .container
    .section-heading.text-center
      h2 Top Posts
    .row
      .col-md-8
        +tpost('https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/top-psot1.png')
        +tpost('https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/top-psot2.png')
        +tpost('https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/top-psot3.png')
        +tpost('https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/top-psot4.png')
      .col-md-3
        .google-add
          img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/Ad.png", alt="")
        
