.video__block
  .container-fluid
    .video__wrapper
      .video__left-content
        .row
          .col-12
            .section-heading.video__heading
              h2.mb-10 Videos
              p TOP OF THE WEEK PLAYLIST
              p.video-cap
                | Calling time on
                br
                |  irresponsible junk
                br
                |  food advertising
              small Business / 5.0m  
          .col-md-6
            .video__single.mb-30
              .video__content.magazine-img
                .video__img.scale-img.mb-10
                  img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/video_img1.png" alt="")
                  .video__icon
                    a(href="https://www.youtube.com/watch?v=up68UAfH0d0")
                      i.fas.fa-play
                .video__cap
                  h3 
                    a(href="#") Editors with strong points of view
          .col-md-6
            .video__single.mb-30
              .video__content.magazine-img
                .video__img.scale-img.mb-10
                  img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/video_img2.png" alt="")
                  .video__icon
                    a(href="https://www.youtube.com/watch?v=up68UAfH0d0")
                      i.fas.fa-play
                .video__cap
                  h3 
                    a(href="#") Dill is part of an unexpected groundswell
      .video__right-content
        .video__img
          img(src="https://preview.colorlib.com/theme/awesomemagazine/assets/img/gallery/video_bg.png" alt="")     
          .video__icon.video__icon-2
            a(href="https://www.youtube.com/watch?v=up68UAfH0d0")
              i.fas.fa-play          



