.btn {
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $primaryColor;
  border-radius: 2px;
  background-color: $primaryColor;
  transition: all 500ms;

  &:hover {
    color: $primaryColor;
  }
}