ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.9;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.section-heading {
  margin-bottom: 30px;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .line {
    width: 70px;
    height: 4px;
    background-color: $primaryColor;
  }
}