.dento {
  z-index: 10;

  &__header-top {
    background-color: #f4f4f4;
    height: 40px;

    a {
      color: #707070;
    }
  }

  &__top-content {
    a {
      font-size: 13px;
      display: inline-block;

      &:last-child {
        margin-left: 30px;
      }

      i {
        color: $primaryColor;
        margin-right: 7px;
      }
    }
  }

  &__top-social-info {
    a {
      font-size: 14px;
      margin-left: 13px;
    }
  }
}

.navigation {
  display: flex;
}

.main-navigation {
  height: 90px;
}

.nav-brand img {
  width: 100%;
}

.nav-links {
  padding: 0 15px;
  text-transform: uppercase;
  color: $mainColor2;
  transition-duration: 500ms;
  font-weight: 600;
  position: relative;
  display: block;

  &:hover {
    color: $primaryColor;
  }
}

.drop-down .nav-links::after {
  content: "\02C5";
  font-size: 14px;
  color: $mainColor2;
  padding-left: 5px;
}

.has-down::after {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;

  a {
    color: $mainColor2;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(242, 244, 248, .7);
    background-color: $mainColor;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      color: $primaryColor;
    }
  }
}

.drop-down:hover .dropdown-content {
  display: block;
}

.booking-btn {
  color: $mainColor;
  font-weight: 600;
  height: 40px;
  line-height: 36px;
  font-size: 12px;

  &:hover {
    background-color: $mainColor;
  }
}

.sticky-navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 3px 50px rgba(0, 0, 0, .2);
  border-bottom: none;
  z-index: 20;
  background-color: $mainColor;
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .toggler span {
    background-color: #858585;
    border-radius: 3px;
    display: block;
    height: 3px;
    padding: 0;
    margin-top: 5px;
    width: 30px;
    transition: 300ms;
    position: relative;
  }

  .toggler {
    display: inline-block;
  }

  .toggler.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
  }

  .toggler.active span:nth-of-type(2) {
    opacity: 0;
  }

  .toggler.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    top: -8px;
  }
}

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  z-index: 100;
  background-color: $mainColor;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(-230px);
  transition: 500ms;

  .sidebar {
    padding-top: 60px;
  }

  .sidebar-links {
    background-color: #f2f4f8;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    height: 38px;
    line-height: 38px;
  }
}

.menu-on {
  transform: translateX(0px);
}

@media (max-width: 576px) {
  .dento {
    &__top-content {
      span {
        display: none;
      }

      a:last-child {
        margin-left: 15px;
      }
    }
  }

  .nav-brand {
    max-width: 90px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}