.banner__block
  .container.align-items-center
    .banner__text.text-center
      h4 30 september 2019 / 9:00 GMT+0000
      h2 Airrosten VS Lerenort in London
    .banner__button.text-center
      a.banner-btn(href="#") More Details
