.specer__header-top
  .container
    .row.align-items-center
      .col-6
        .specer__top-content
          ul
            li  20:00 - May 19, 2019
            li  
              a(href="#") Sign in
            li
              a(href="#") Contact
      .col-6
        .specer__top-social-info.text-right
          a(href="#")
            i.fab.fa-facebook-f
          a(href="#")
            i.fab.fa-vimeo
          a(href="#")
            i.fab.fa-twitter
          a(href="#")
            i.fab.fa-google-plus-g
          a(href="#")
            i.fab.fa-instagram