header
	.specer__header
		.specer__header-main#nav-bar
			.container
				nav.main-navigation.d-flex.justify-content-between.align-items-center
					a.nav-brand(href="index.pug")
						img(src="https://preview.colorlib.com/theme/specer/img/logo.png" alt="Logo")
					+navigation-block
					.search-switch
						i.fa.fa-search
					.navbar-toggler
						span.toggler#hambar
							span
							span
							span
					.sidebar-menu#sidebar
						.sidebar
							ul
								li
									a.nav-links.sidebar-links(href="index.pug") Home
								li
									a.nav-links.sidebar-links.has-down(href="#") Club
								li
									a.nav-links.sidebar-links(href="index.pug") Schedule
								li
									a.nav-links.sidebar-links(href="index.pug") Results
								li
									a.nav-links.sidebar-links(href="index.pug") Sport
								li
									a.nav-links.sidebar-links.has-down(href="#") Pages
								li
									a.nav-links.sidebar-links(href="index.pug") Contact	Us