.pricing {
  &__block {
    padding: 100px 0;
  }

  &__table {
    margin-bottom: 50px;

    table {
      width: 100%;
    }

    th,
    td {
      padding: 15px 30px;
      border-radius: 3px;
      border: 4px solid $mainColor;
      background-color: #f4f4f4;
      font-weight: 600;
      color: #707070;
    }

    thead th {
      background-color: $primaryColor;
      color: $mainColor;
    }
  }

  &__btn a i {
    font-size: 12px;
  }

  &__btn a i:first-child {
    margin-left: 5px;
  }
}

@media (max-width: 576px) {
  .pricing {
    &__table {

      th,
      td {
        padding: 10px 15px;
      }
    }
  }
}