.about__block
  .container
    .row.align-items-center
      .col-12.col-md-6
        .about__thumbnail
          img(src="https://preview.colorlib.com/theme/dento/img/bg-img/15.jpg" alt="Thumbnail")
      .col-12.col-md-6
        .about__content
          .section-heading
            h2 About Us
            .line
          p
            | Vestibulum condimentum, risus sedones honcus rutrum, salah lacus mollis zurna, nec finibusmi velit advertisis. 
            | Proin vitae odin quis magna aliquet laciniae. Etiam auctor, nisi vel. Pellentesque ultrices nisl quam iaculis, nec pulvinar augue.
          .about__skills
            h5 Experience Dentist
            span 80% 
            .progress
              .progress-bar(role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 
          +progress('Modern Equipment','65%')(style="width:65%")    
          +progress('Friendly Staff','85%')(style="width:85%")      


