.banner__block
  .container
    h2 We Believe Everyone Should Have Easy Access To Great Dental Care
    p 
      | As a leading industry innovator, Dento is opening up exciting new opportunities for dental professionals, investors, employees &amp; suppliers. Contact us to find out what we have to
      | offer you.
