.blog__block
  .container
    .section-heading.text-center
      h2 The Lastest News
      .line.m-0.m-auto
    .row
      .col-12.col-md-6.col-lg-4 
        +blog("https://preview.colorlib.com/theme/dento/img/bg-img/4.jpg","How your mouth bacteria can harm your lungs")()
      .col-12.col-md-6.col-lg-4  
        +blog("https://preview.colorlib.com/theme/dento/img/bg-img/5.jpg","What is the best kind of toothpaste to use?")()
      .col-12.col-md-6.col-lg-4  
        +blog("https://preview.colorlib.com/theme/dento/img/bg-img/6.jpg","Why you should avoid sipping your drinks")()