.blog__block
  .container
    .section-heading.text-center
      h2 The Lastest News
      .line.m-0.m-auto
    .row
      .col-12.col-md-6.col-lg-4 
        .blog__single
          a(href="#")
            img(src="https://preview.colorlib.com/theme/dento/img/bg-img/4.jpg" alt="bg-img4")
          .blog__content   
            a.post-title(href="#") How your mouth bacteria can harm your lungs
            p
              | Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...
            .post-meta  
              a(href="#")  
                i.far.fa-clock 
                |  28 Sep 2018 
              a(href="#") 
                i.far.fa-comments
                |  3 Comments
      .col-12.col-md-6.col-lg-4  
      .col-12.col-md-6.col-lg-4  
