.cta__block
  .container
    .cta__content
      .row    
        .col-12.col-sm-6.col-lg-3
          +cta('20','Years Of Experience')(class='fa fa-atom')
        .col-12.col-sm-6.col-lg-3
          +cta('700','Happy Patients','+')(class='far fa-heart')
        .col-12.col-sm-6.col-lg-3
          +cta('120','Certificate')(class='fa fa-book')
        .col-12.col-sm-6.col-lg-3
          +cta('40','Dentist','+')(class='fa fa-address-card')