.dentist__block
  .container
    .section-heading.text-center
      h2 Our Dentist
      .line.m-0.m-auto
    .row
      .col-12.col-sm-6.col-md-4  
        +dentist-member("https://preview.colorlib.com/theme/dento/img/bg-img/9.png")()   
      .col-12.col-sm-6.col-md-4  
        +dentist-member("https://preview.colorlib.com/theme/dento/img/bg-img/10.png")()  
      .col-12.col-sm-6.col-md-4  
        +dentist-member("https://preview.colorlib.com/theme/dento/img/bg-img/11.png")()    




