.footer__footer
  .container
    .footer__top-content.text-center
      h3 Subsribe Newsletter
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex
        | temporibus magni ipsam inventore dolorum sunt, amet vel.
      form.footer__form(action='')
        .row
          .col-md-9
            input.form-control.footer__email(type='text', placeholder='Enter Email Address')
          .col-md-3
            input.subscribe-button(type='submit', value='Subscribe')
    .footer__middle-content
      .row
        .col-sm-4
          .footer__widget
            h3 About Us
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Voluptatibus et dolor blanditiis consequuntur ex voluptates
              | perspiciatis omnis unde minima expedita.
            ul.footer__icons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-instagram
        .col-sm-5
          .footer__widget
            .opening-hours
              h3 Opening Hours
              .black-text Sunday-Thursday
              span 5AM - 10PM
            .contact-info
              h3 Contact Info
              .black-text Address:
              span 34 Street Name, City Name Here, United States
              .black-text Phone:
              span +1 242 4942 290
              .black-text Email:
              span info@yourdomain.com
        .col-sm-3
          .footer__widget
            h3 Quick Links
            ul.footer__links
              li
                a(href='#') About
              li
                a(href='#') Terms of Use
              li
                a(href='#') Disclaimers
              li
                a(href='#') Contact
  .footer__copyright
    .container
      .row
        .col-sm-12
          p.copyright__text.text-center
            | Copyright ©2020 All rights reserved | This template is made with
            i.fa.fa-heart-o
            |  by
            a(href='#') Colorlib
