header
	.dento__header
		.dento__header-top
			.container.h-100
				.row.align-items-center.h-100
					.col-6.col-md-9.col-lg-8
						.dento__top-content
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='28 Jackson Street, Chicago, 7788569 USA')
								i.fa.fa-location-arrow
								span 28 Jackson Street, Chicago, 7788569 USA
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='info.dento@gmail.com')
								i.fa.fa-envelope
								span info.dento@gmail.com	
					.col-6.col-md-3.col-lg-4
						.dento__top-social-info.text-right
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='Facebook')
								i.fa.fa-facebook
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='Twitter')
								i.fa.fa-twitter
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='Google Plus')
								i.fa.fa-google-plus
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='Linkedin')
								i.fa.fa-linkedin
							a(href="#" data-toggle='tooltip' data-placement='bottom' title='Pinterest')
								i.fa.fa-pinterest
		.dento__header-main#nav-bar
			.container
				nav.main-navigation
					a.nav-brand(href="index.pug")
						img(src="https://preview.colorlib.com/theme/dento/img/core-img/logo.png")
					.menu
						ul.navigation
							li
								a.nav-links(href="index.pug") Home
							li.drop-down#mainbar-dropdown
								a.nav-links(href="#") Page
								.dropdown-content
									a(href="#") - Home
									a(href="#") - About Us
									a(href="#") - Service
									a(href="#") - Pricing
									a(href="#") - Blog
									a(href="#") - Blog Details
									a(href="#") - Contact
									a(href="#") - Dropdown

							li
								a.nav-links(href="index.pug") About
							li
								a.nav-links(href="index.pug") Service
							li
								a.nav-links(href="index.pug") Pricing
							li.drop-down
								a.nav-links(href="#") Blog
								.dropdown-content
									a(href="#") - Blog
									a(href="#") - Blog Details
							li
								a.nav-links(href="index.pug") Contact
					a.btn.booking-btn(href="#") Booking Now	
					.navbar-toggler
						span.toggler#hambar
							span
							span
							span
					.sidebar-menu#sidebar
						.sidebar
							ul
								li
									a.nav-links.sidebar-links(href="index.pug") Home
								li.drop-down
									a.nav-links.sidebar-links.has-down(href="#") Page
								li
									a.nav-links.sidebar-links(href="index.pug") About
								li
									a.nav-links.sidebar-links(href="index.pug") Service
								li
									a.nav-links.sidebar-links(href="index.pug") Pricing
								li.drop-down
									a.nav-links.sidebar-links.has-down(href="#") Blog
								li
									a.nav-links.sidebar-links(href="index.pug") Contact		