header
	.dento__header
		.dento__header-main#nav-bar
			.container
				nav.main-navigation.d-flex.justify-content-between.align-items-center
					a.nav-brand(href="index.pug")
						img(src="https://preview.colorlib.com/theme/dento/img/core-img/logo.png" alt="Logo")
					+navigation-block
					a.btn.booking-btn(href="#") Booking Now	
					.navbar-toggler
						span.toggler#hambar
							span
							span
							span
					.sidebar-menu#sidebar
						.sidebar
							ul
								li
									a.nav-links.sidebar-links(href="index.pug") Home
								li.drop-down
									a.nav-links.sidebar-links.has-down(href="#") Page
								li
									a.nav-links.sidebar-links(href="index.pug") About
								li
									a.nav-links.sidebar-links(href="index.pug") Service
								li
									a.nav-links.sidebar-links(href="index.pug") Pricing
								li.drop-down
									a.nav-links.sidebar-links.has-down(href="#") Blog
								li
									a.nav-links.sidebar-links(href="index.pug") Contact		