header
	.dento__header
		.dento__header-top
			.container
				.row
					.col-6
						.dento__top-content
							a(href="#" data-toggle='tooltip' data-placement='top' title='28 Jackson Street, Chicago, 7788569 USA')
								i.fa.fa-location-arrow
								span 28 Jackson Street, Chicago, 7788569 USA
					.col-6
		.dento__header-main
			.container
				nav.main-navigation
					a.nav-brand(href="index.pug")
						img(src="https://preview.colorlib.com/theme/dento/img/core-img/logo.png")
					.menu
						ul.navigation
							li
								a.nav-links(href="index.pug") Home
							li
								a.nav-links(href="index.pug") Page
							li
								a.nav-links(href="index.pug") About
							li
								a.nav-links(href="index.pug") Service
							li
								a.nav-links(href="index.pug") Pricing
							li
								a.nav-links(href="index.pug") Blog
							li
								a.nav-links(href="index.pug") Contact
					a.btn.booking-btn(href="#") Booking Now	